/* Text styles */

.bats-heading1, .bats-heading2, .bats-note, .bats-normal {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}

.bats-heading1 {
    font-size: 1.5vw;
    text-align: center;
}

.bats-heading2 {
    font-size: 1.25vw;
}

.bats-normal {
    font-size: 1vw;
}

.bats-highlight {
    color: #006666;
    font-weight: bold;
}

.bats-note {
    font-size: 1vw;
}

.bats-gray {
    color: gray;
}

.bats-orange {
    color: #FFCE57;
}

.bats-main-color {
    color: #006666;
}

.all-caps {
    text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
    .bats-heading1 {
        font-size: 3vw;
    }

    .bats-heading2 {
        font-size: 3vw;
        text-align: center;
    }

    .bats-note {
        font-size: 1.8vw;
    }

    .bats-normal {
        font-size: 2.3vw;
    }
}

/* Common */

.gradient, .white-gradient {
    position: relative;
    width: 100%;
    margin-top: -3vh;
    height: 3.1vh;
}

.gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.white-gradient {
    background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}

.gradient-no-overlay {
    margin-top: 0;
}

.spacing {
    margin-bottom: 2vh;
}

.auto-margin {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

@media only screen and (max-width: 1300px) {
    .auto-margin {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

/* Jumbotron */

.jumbotron-bg {
    width: 100%;
    background-image: url("../img/bats-style-bg.png");
    padding-top: 3vh;
}

.jumbotron-container {
    background-image: url("../img/jombotron-transp-bg.png");
    padding: 1vmax;
}

.jumbotron-text-main {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 2vw;
}

.jumbotron-text-note {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.2vw;
}

/* Monitors */

.right-monitor-img, .left-monitor-img {
    width: 100%;
}

.right-monitor-img {
    transition: transform .2s;
}

.right-monitor {
    transition: background .2s;
}

.right-monitor:hover {
    background-color: #E6F0F0;
}

.right-monitor-img:hover /*, .left-monitor:hover*/
{
    transform: scale(1.02);
}

/* Slideshow */

.slideshow-section-bg {
    background-color: #006666;
}

.slideshow-frame {
    width: 100%;
    transition: transform 0.2s;
    transform-origin:bottom center;
}

.slideshow-frame:hover {
    transform: scale(1.02)
}

.slideshow-control-next, .slideshow-control-prev {
    height: 10vmin;
}

.slideshow-control-prev {
    -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg); /* FF */
    -o-transform: rotate(180deg); /* Opera */
    -ms-transform: rotate(180deg); /* IE9 */
    transform: rotate(180deg); /* W3C compliant browsers */

    /* IE8 and below */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

.slideshow-desc-container {
    padding: 2vw;
}

/* Advantages */

.advantage-set {
    opacity: 0;
    transition: opacity .2s;
}

.advantage-set-container:hover .advantage-set {
    opacity: 1;
}

.advantage-set-container:hover {
    /*transform: scale(1.03);*/
    z-index: 4;
}

.advantage-set-container-1, .advantage-set-container-2, .advantage-set-container-3 {
    transition: transform .2s;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.advantage {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.advantage-header {
    margin: 10px;
    position: relative;
    top: 15vh;
    transition: top .1s;
}

.advantage-set-container:hover .advantage-header {
    top: 0;
}

.advantage-text {
    display: table-cell;
    width: 90%;
    vertical-align: middle;
    padding: 5px;
    text-align: left;
}

.advantage-bullet {
    display: table-cell;
    width: 10%;
    vertical-align: top;
    text-align: center;
    padding: 5px;
}

.advantage-bullet-img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

.advantage-set-container-1 {
    /*
    https://www.istockphoto.com/in/photo/blurred-abstract-grey-glass-wall-building-background-gm924418868-253698746
    */
    background-image: url("../img/advantage-bg-1.jpg");
    background-color: #DBE6E5;
    z-index: 1;
}

.advantage-set-container-1:hover {
    background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) ), url('../img/advantage-bg-1.jpg');
}

.advantage-set-container-2 {
    /*
    https://www.istockphoto.com/in/photo/abstract-background-of-polygons-on-white-background-gm857482302-141496523
    */
    background-image: url("../img/advantage-bg-2.jpg");
    background-color: #D5E0DD;
    z-index: 2;
}

.advantage-set-container-2:hover {
    background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) ), url('../img/advantage-bg-2.jpg');
}

.advantage-set-container-3 {
    /*
    https://www.istockphoto.com/in/photo/connection-gm805088558-130799387
    */
    background-image: url("../img/advantage-bg-3.jpg");
    background-color: #DBE6E5;
    z-index: 3;
}

.advantage-set-container-3:hover {
    background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) ), url('../img/advantage-bg-3.jpg');
}

@media only screen and (max-width: 600px) {
    .advantage-header {
        top: 0;
    }
    .advantage-set {
        opacity: 1;
    }
    .advantage-set-container-1 {
        background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) ), url('../img/advantage-bg-1.jpg');
    }
    .advantage-set-container-2 {
        background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) ), url('../img/advantage-bg-2.jpg');
    }
    .advantage-set-container-3 {
        background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) ), url('../img/advantage-bg-3.jpg');
    }
}

/* Footer */

.bats-footer-left {
    background-image: url("../img/bats-style-bg-op.png");
}

.bats-footer-right {
    background-color: white;
}

.footer-bats-logo {
    height: auto;
    width: 20vmax;
    margin-bottom: 1vh;
}

.footer-sollers-logo {
    height: auto;
    width: 20vmax;
    margin-bottom: 1vh;
}

.bats-footer-contact-info {
    margin-bottom: 5vh;
    text-align: right;
}

.bats-footer-left, .bats-footer-right, .bats-footer-right-display-container {
    height: 50vh;
}

@media only screen and (max-width: 600px) {
    .bats-footer-left, .bats-footer-right, .bats-footer-right-display-container {
        height: 25vh;
    }
}